@import "~bootstrap/dist/css/bootstrap.min.css";
span{
    width: 33%;
}
.cardIcon {
    font-size: 5rem; 
    color: black; 
  }
  
  .text-body-danger {
    color: red; 
  }
  .textos {
    font-size: 70px;
  }


#bottomCard{
  transform: rotate(180deg);
}